[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
six = "*"

[dev-packages]
pytest = "*"
freezegun = "*"
responses = "*"
"flake8" = "*"
isort = "*"
tox = "*"

[requires]
python_version = "2.7"
